body {
  margin: 0;
  background-color: #1E1E1E;
}
.gutter {
  background-color: #333;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor:ew-resize;
}
.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}
.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
#output {
  display: flex;
  align-items: center;
  justify-content: center;
}
#output > svg {
  border: 1px solid lightgray;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAABlBMVEX////g4OACVBJKAAAAFElEQVR42mNgAAJGIGDAwyAkDwQABMgAIUCVOUYAAAAASUVORK5CYII=");
}

#main {
  position: absolute;
  top: 56px;
  bottom: 2.5rem;
  left: 0;
  right: 0;
  display: flex;
  overflow: hidden
}

#footer {
  position: fixed;
  height: 2.5rem;
  display: flex;
  bottom: 0;
  width: 100%;
  align-items: center;
  padding-left: 1rem;
}

#footer a {
  color: #999;
}

.navbar .navbar-collapse button {
  margin-left: 0.5em;
}

/* tippy */

.tippy-box[data-theme~='editsvgcode'] {
  background-color: whitesmoke;
  color: #333;
}

.tippy-box[data-theme~='editsvgcode'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: whitesmoke;
}
.tippy-box[data-theme~='editsvgcode'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: whitesmoke;
}
.tippy-box[data-theme~='editsvgcode'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: whitesmoke;
}
.tippy-box[data-theme~='editsvgcode'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: whitesmoke;
}

#sidebar {
  padding: 60px 15px 10px 15px;
  background-color: #1E1E1E;
  color: #999;
}

/* carbonads */

#carbonads * {
  margin: initial;
  padding: initial;
  line-height: initial;
}
   
#carbonads {
  min-width: 120px;
  min-height: 130px;
  --carbon-font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  --carbon-font-size: 14px;
  --carbon-padding: 1.5ch;
  --carbon-max-char: 20ch;
  --carbon-bg-primary: hsl(0, 0%, 98%);
  --carbon-bg-secondary: hsl(0, 0%, 92%);
  --carbon-text-color: hsl(0, 0%, 20%);
  z-index: 10;
  font-size: var(--carbon-font-size);
  font-family: var(--carbon-font-family);
}

#carbonads > span {
  display: flex;
  flex-direction: column;
  min-inline-size: 130px;
  max-inline-size: calc(
    130px + var(--carbon-max-char) + 8ch
  );
  padding: var(--carbon-padding);
  gap: var(--carbon-padding);
  background-color: var(--carbon-bg-primary);
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.085),
    0 0 2px hsl(0deg 0% 0% / 0.085),
    0 0 4px hsl(0deg 0% 0% / 0.085),
    0 0 8px hsl(0deg 0% 0% / 0.085);
}

#carbonads a {
  color: var(--carbon-text-color);
  text-decoration: none;
}

#carbonads a:hover {
  color: var(--carbon-text-color);
}

#carbonads .carbon-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5ex;
}

#carbonads .carbon-img {
  flex: 0 0 130px;
}

#carbonads .carbon-img img {
  display: block;
}

#carbonads .carbon-text {
  flex-grow: 1;
  flex-basis: var(--carbon-max-char);
  line-height: 1.4;
  text-align: left;
}

#carbonads .carbon-poweredby {
  padding: 6px 8px;
  background: var(--carbon-bg-secondary);
  color: var(--carbon-text-color);
  font-weight: 600;
  font-size: 0.6em;
  line-height: 1.4;
  letter-spacing: 0.2ch;
  text-align: center;
  text-transform: uppercase;
}

#carbonads {
  --carbon-bg-primary: hsl(0, 0%, 12%);
  --carbon-bg-secondary: hsl(0, 0%, 15%);
  --carbon-text-color: hsl(0, 0%, 90%);
}